[2017-12-05 19:59] rbiswas4 opened #1 "Clarification on metrics"
I went through your notebook outline which has compiled a large number of metrics, many of I was totally unaware of. Thanks Alex for setting this up to bring other alternatives into the discussion!

had the following questions:

- ROC : Is there any literature about how to consider multiple thresholds?
- Standard Score (zScore) : Is the wikipedia article linked correctly?
- Logloss : If my quick r

[2017-12-05 20:13] rbiswas4 opened #2 "What qualities should metrics have?"
While thinking about classifiction metrics, we have all felt that it would be nice to have metrics that can re
ward better classification methods. To give a concrete example, we would prefer a binary classification method that assigns a probability p, (1-p) for an event to belong to the two classes, rather than a method which chooses to assign only 0, 1 or 1, 0 values. Obviously, it is important t

[2017-12-05 20:27] aimalz opened #3 "What is the question?"
What do we want a metric to quantify?

(This ties into the weighting of what we think is important for the metrics in combining results from many classes.)

[2017-12-05 20:57] aimalz opened #4 "Mock classification submission systematics"
_Simulate some mock classification results (with a goal of exaggerating intuitively good or bad results to check if metrics successfully reflect those)._

EDIT: That was a very general goal!  This abandoned issue is being transformed into a hub for covering all the cases of mock classification results that we want to check.

The systematics we want to consider are:
- [ ]  Perfect classifier: retur

[2017-12-05 20:58] aimalz opened #5 "Exploratory metric implementation"
If you are interested in investigating a metric that is not already in the skeleton notebook, claim it here and do so.

[2017-12-05 21:00] aimalz opened #6 "Fix the link to organizing document"
@rbiswas4 has volunteered to fix @aimalz's blunder with the organizing document in the readme (and elsewhere).

[2017-12-06 15:25] rbiswas4 commented on #6
@aimalz I have created a version of the google doc. But I realize I am wrong (or at least cannot figure out a way of linking a specific version to the github page, which I thought we could do. Sorry!

Now, I have forgotten your argument of wanting to keep a separate copy of the document in the github ....
- was it that you did not want someone to just edit it (we could freeze the edits and only al

[2017-12-06 16:17] aimalz commented on #6
@rbiswas4 I was thinking of the first issue about non-PLAsTiCC people deleting the content (not that it would be gone, but it would be a hassle to revert to a previous version) and didn't want to make it comment-only to avoid manually giving write access to everyone on the PLAsTiCC team if we want to continue the discussion there.  We can definitely dump a PDF onto GitHub that we occasionally upda

[2017-12-06 17:08] rbiswas4 commented on #6
@aimalz Given that I could not find out very quickly, and don't want to keep trying, it seems like keeping the download is probably best. But it may also help to mention version names in github issues/etc when refering to google docs, because these could change.

[2017-12-06 21:09] aimalz commented on #5
@tallamjr @cnsetzer Do you know what metrics you want to work on?  I'm coordinating with @reneehlozek and @gnarayan on making mock data to run on but wanted to check that you were tasked for the interim before we give you mock data.

[2017-12-06 23:10] tallamjr commented on #5
Thanks @aimalz . Unfortunately I do not think I will have time to work on this for a while, at
the moment the main reason I have signed up is to stay in the loop with the on-going
developments. However, I would be interested in learning more and playing with
Matthews Correlation Coefficient (MCC) and G-mean metrics in the future.

[2017-12-07 08:01] cnsetzer commented on #5
@aimalz I appreciate the check-in. I plan to spend the latter half of my day and when I can tomorrow looking at the different metrics in the notebook. I have had some unexpected time demands from my courses that has restricted my participation this week. I am quite new to ML, and the use of metrics in this context, so I would like to take a set of the metrics already implemented in scikitlearn (RO

[2017-12-07 15:49] aimalz commented on #5
@tallamjr No problem!  We'll try to keep this space updated, so you can jump in when you have time.

@cnsetzer Filling in the notebook with descriptions (mathematical definitions and implementation details) and minimal examples (even the ones in `sklearn` demos) is a great place to start!  I'd recommend making a new branch for developing something based on the skeleton notebook and using this issu

[2017-12-13 15:27] cnsetzer commented on #5
@aimalz I have made my first commit of the metric implementations. I apologize I have not had much time until today to begin with these implementations but now I will be able to make progress with the multi-class versions of the ROC, AUC, and Log-loss which I claimed. I also plan to add more detail regarding these three metrics as discussed would be beneficial.

[2017-12-14 23:00] aimalz commented on #5
@cnsetzer Your metric_implement notebook looks great!  Since you mentioned getting started on multi-class metrics, something I forgot to include it in the original notebook that we should explore is modification of the class weights (i.e. not just in proportion to the number of class members) in the multi-class metrics and/or our own ways of combining the binary metrics into a final metric value,

[2017-12-14 23:23] aimalz commented on #1
1. I haven't done the deepest literature search (I'd give you links, but it's really just everything on the first page of Google search results for "criticism of auc roc") but think the idea is that all thresholds are considered to get a final result.  Or do you mean different thresholds for different classes?  I've been wondering about that myself, as it's related to how to treat classes differen

[2017-12-14 23:29] aimalz commented on #2
This is exactly what I was hoping to test in the notebooks.  Please do write a demo if you can think of a concrete example.

[2017-12-18 23:19] aimalz commented on #3
Please chime in with dissent, but I think the state of the discussion at the moment is that the chosen metric should quantify the quality of probabilistic classifications of "full" lightcurves over some set period of time for two reasons:

1. The early classification challenge may not be as valuable to the science because it's not realistic to do it without information beyond the lightcurve (@gnar

[2017-12-18 23:39] aimalz commented on #2
After a chat with @rbiswas4, I think we can identify some properties of classifiers we'd like our metric to favor and disfavor.

1. We do not want to encourage classification of only on the most common class(es) by ignoring rarer classes, i.e. all test set objects should not be of equal value.

2. We may want to reward classifiers that respect hierarchical classes, i.e. there could be a smaller pe

[2018-01-12 18:17] #6 closed

[2018-03-02 03:13] aimalz commented on #3
After a chat with @reneehlozek about the PLAsTiCC timeline, the question is settled: we'll tackle the full lightcurve challenge first, and use the lessons learned from that simpler question when preparing for future challenges aimed at early classification and anomaly detection.

[2018-03-02 03:13] #3 closed

[2018-03-02 04:02] aimalz commented on #5
The metrics are outgrowing this issue, so I'm going to start a new one for organizing something compatible with a pipeline for running all our metric tests.

[2018-03-02 04:02] #5 closed

[2018-03-02 04:50] aimalz commented on #1
I'm going to close this since a lot of the questions were settled with #3.

[2018-03-02 04:50] #1 closed

[2018-03-02 04:59] aimalz opened #8 "Generating true classes to test metric sensitivity to class imbalance"
We'll need to check on how sensitive each metric is to the imbalance in number of objects in each class.  To do this, there should be a script for generating true classes for a variable set of N objects and possibly a variable number M of classes as well.

EDIT: Please implement modules that make different "truth" sets as `simulator` subclasses, modeling after `uniform.py` found [here](https://git

[2018-03-02 05:02] aimalz opened #9 "Multi-class metric averaging per object vs. per class"
We should test both weighting schemes (equal weight per class and equal weight per object) for constructing multi-class metrics from the base components of single-class metric.

[2018-03-02 05:09] aimalz opened #10 "AUC function for testing probability thresholds"
It would be reasonable for all the deterministic metrics to share a single utility function that evaluates the metric at a given set of probability thresholds to calculate the AUC.  If this is done, it should be easy to investigate the effect of different probability thresholds on the AUC of deterministic metrics.

[2018-03-02 05:38] aimalz opened #11 "Metric evaluators to implement"
This issue is a hub for metric implementations, drawn from those covered in [these slides](https://docs.google.com/presentation/d/1fNMNCLeBjR4nLcrApMqtpvMdxnQaGLeoBQTst9QDM-k/edit?usp=sharing).  In particular, I want to make sure we consider the following:

- [x] log-loss
- [x] Brier score
- [ ] At least one AUC of a deteministic metric

Please leave a comment here when you start writing a module

[2018-03-02 05:52] aimalz opened #12 "Testing infrastructure"
Before the modules can get off the ground, we need a script that tests arbitrary combinations of test conditions.  It should:

1. read in a config file
2. make true class assignments
3. import the classifier
4. make predicted classes
5. import the metric
6. evaluate the metric
7. make informative plots (???)

Once #8 produces the function for item 2, this should be pretty easy to write if there's

[2018-03-02 14:38] aimalz commented on #11
I'll implement the log-loss.

[2018-03-02 14:40] aimalz commented on #8
I'll start this off by making a jupyter notebook with vanilla version for an equal distribution of classes.

[2018-03-02 14:44] aimalz commented on #4
~~I'll implement a vanilla version with uncorrelated, low-scatter predictions.~~  This ended up being a very stupid classifier that ignores the data and takes a totally random guess at the probability of each type from a uniform distribution (and then normalizes it to sum to 1).

[2018-03-02 15:50] aimalz opened #13 "Reach goal bonus metrics"
Because people like thinking about ancillary, optional metrics for other potential challenge goals, I'm making this issue as a place for that discussion.  Here are the ones that have come up already, and feel free to mention more in the comments:

- [ ] Early lightcurve challenge (which may focus more on maximizing true positives)
- [ ] Anomaly detection (which may focus more on minimizing false n

[2018-03-02 15:57] aimalz opened #14 "Mock classification formats"
We want to test metrics on different formats of input in addition to different systematics affecting classifiers:
- [ ] Probabilistic classifications: a probability for each class, with all probabilities summing to 1
- [ ] Deterministic classifications: 1 for the predicted class and 0 for all other classes
- [ ] Single class yes/no classifications: p~(1,0) for a specific class m and uniform probab

[2018-03-20 14:51] aimalz commented on #12
At this point, I don't think it's necessary to do file I/O, and the informative plots can be postponed.  #15 otherwise addresses everything.

[2018-03-20 14:51] #12 closed

[2018-03-27 03:09] reneehlozek commented on #11
see the initial brier score coded in https://github.com/aimalz/proclam/tree/renmetric

[2018-03-27 14:45] rbiswas4 opened #16 "The pipeline_sandbox does not work on python3 but can get it to work on python 2."
This is due to imports being handled differently in the two versions. Fix it to be compatible on both through future imports.

[2018-03-27 14:58] aimalz opened #18 "Expand pipeline notebook diagnostics"
What diagnostics of the metric do we want to look at, and how?  The pipeline notebook should loop over all combinations of truth, classifier, and metric, and then print results to a file and make some kinds of diagnostic plots.

[2018-03-27 15:02] aimalz commented on #11
Excellent work @reneehlozek!  Feel free to start a pull request whenever you're ready.

[2018-03-27 15:41] aimalz commented on #8
As was mentioned in the call, it should be sufficient to set the number of members of each type as Poisson draws about mu = 10<sup>6</sup>, 10<sup>5</sup>, 10<sup>4</sup>, 10<sup>3</sup>, 10<sup>2</sup>, 10<sup>1</sup>.  It would be great if someone could just write a little wrapper around [`scipy.stats.poisson`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.poisson.html) to do

[2018-03-27 15:43] aimalz commented on #4
We should also implement a perfect classifier as a control for our tests.

[2018-03-27 15:58] #16 closed

[2018-03-27 16:03] aimalz commented on #13
Another that came up in today's call was to divide test set objects based on sky location and compare metrics between them to see how sensitive classifiers are to dense/sparse areas of the sky.

- [ ] Sky sensitivity (classification quality as a function of region of sky, i.e. proximity to galactic plane)

[2018-03-27 16:09] aimalz commented on #4
As @gnarayan brought up in today's call, there should be a classifier that takes as input a confusion matrix as well as the truth table.

EDIT: I split this into #19 to distinguish between the pathologies to investigate and the infrastructure to support them.  #19 can enable many of the items in the list for this issue.

[2018-03-29 16:46] reneehlozek commented on #11
I think I'll implement one or two more @aimalz just so see where we are (I'll try one that only does one class) and then go ahead :)

[2018-04-03 15:14] tallamjr commented on #11
I'll have a look into this

[2018-04-03 15:31] aimalz commented on #9
This could be done with a pair of simple utility functions in the metrics directory.  Both would take in a metric value for each object that was classified.  The equal-weight-per-object metric would simply average all input metric values.  The equal-weight-per-class metric evaluator would also take the truth table, and it would average the metric values within each class and then average the class

[2018-04-03 16:17] aimalz opened #19 "Confusion matrix-based classifier"
@gnarayan I'm splitting this from #4 because it's really an infrastructure issue rather than a science issue.

We want a `classifier` subclass that takes in a confusion matrix and true classes to produce per-object classification probabilities, which may address the distinct cases of systematics from #4 via simply inputting different confusion matrices.

[2018-04-03 16:43] aimalz opened #20 "Deterministic metric utilities"
We want to try some AUC-based metrics (enabled by #10), which are really a function of deterministic metrics evaluated at probability thresholds.  The basic deterministic metrics are the true and false positive and negative rates, and they can be combined into the more complex deterministic metrics that are building blocks for the PRC/ROC/DET.  (For some context, see the [slides](https://docs.goog

[2018-04-04 03:28] juramaga commented on #8
For the unbalanced distribution of classes, do we want the exact number of classes and items to be a fixed parameter according to which the relative number of objects in each class will be normalized? Or do we want the total number of objects in the simulated truth table to be set by the number of objects in each class, as given by, for example, poisson draws?

[2018-04-04 04:50] juramaga commented on #8
Here is some code for an unbalanced simulator of truth tables:

https://github.com/aimalz/proclam/blob/rafmetric/proclam/simulators/unbalanced.py

[2018-04-04 16:40] juramaga commented on #19
I can work on this next if no one is doing so.

[2018-04-04 19:16] aimalz commented on #19
That would be great, thanks!

[2018-04-04 21:37] aimalz commented on #8
Closed by #21

[2018-04-04 21:37] #8 closed

[2018-04-10 14:24] juramaga commented on #19
I have some code that takes the true classes and an arbitrary confusion matrix, then for each item in the truth table it reads the corresponding column of the confusion matrix and outputs that column as the classification probabilities for each item. Is that what we want, or were we thinking of something a bit more complex?

[2018-04-10 16:06] aimalz commented on #19
I think we can merge that in for now, but we ultimately might need something a little more sophisticated, because using the appropriate row (I'm going by the standard I used in [slide 4 here](https://docs.google.com/presentation/d/1fNMNCLeBjR4nLcrApMqtpvMdxnQaGLeoBQTst9QDM-k/edit?usp=sharing) though it might be a column in your implementation) would basically have each object classified with proba

[2018-04-10 16:19] juramaga commented on #19
I see your point. I'll experiment with some perturbations as we discuss it.

[2018-04-10 18:31] aimalz opened #25 "Infrastructure for ingesting real classifier output"
As was discussed on today's call, we may have access to some real classification submissions and their corresponding truth tables.  We'll need some infrastructure to read in this data and convert deterministic classes to probabilistic classes.  This functionality can be implemented in a `util` module in the `classifiers` directory.

[2018-04-10 20:30] juramaga commented on #19
Ok, I added some Gaussian perturbations to the CM probabilities. Maybe not the best approach, but at least better than just the exact probabilities from the matrix.

[2018-04-11 00:25] Andromedanita commented on #25
I'd like to work on this @aimalz

[2018-04-13 15:22] AshishMahabal commented on #9
Alex, what is the format in which the metric values will be provided? I could not find those details in the metrics directory.

[2018-04-13 15:42] aimalz commented on #9
Ultimately, for the competition on Kaggle/RAMP, the metric needs to be a single scalar.

[2018-04-16 14:50] aimalz commented on #20
I think @juramaga started on item 3 in the `rafmetric` branch so am assigning this issue to him as well.  All these functions should live in a `util.py` file in the `metrics` directory so they can be shared among many `metric` sub-classes.

[2018-04-16 14:51] aimalz commented on #19
This has been resolved by #22.  Great job, @juramaga!

[2018-04-16 14:51] #19 closed

[2018-04-17 09:14] rbiswas4 opened #26 "pipeline notebook fails on master on brier on py3"
This is due to import lines.

[2018-04-17 09:42] aimalz commented on #26
Huh, for me it works on both 2.7 and 3.4.  What errors are you getting and on what lines?

[2018-04-17 10:02] rbiswas4 commented on #26
Sorry.
On master : 1dc24c6
[code]

[2018-04-17 10:10] aimalz commented on #26
Interesting, you're right that it shouldn't work on my end either.  I added the import of `util` to `proclam/metrics/__init__.py`.  Could you try pulling and running it again?  Thanks.

[2018-04-17 11:48] juramaga commented on #26
Same happened to me a few days ago. I had to manually import the util.py module from a local directory for it to work. Should have reported.

[2018-04-17 12:06] rbiswas4 commented on #26
No. That failed too.

[code]
I think the problem is that importing  a filename does not do much for you. So, instead of this, you could do:
[code]
would do it.

Python package management works in more ways than one, and I don't really claim to know all of the ways, so it is possible that there is a way that these would work with slight modifications of a different kind. But, one way which works we

[2018-04-17 14:36] reneehlozek commented on #25
I've added some functionality (very clunkily) through https://github.com/aimalz/proclam/pull/27 for

[2018-04-17 14:40] aimalz commented on #26
I'll admit I'm clueless when it comes to the differences between Python 2 and 3 and seem to have messed this up, although I'm not sure why it works for me locally.  The `classifiers` and `metrics` (and `simulators`) sub-modules should each have their own `__init__.py` (and `util.py`) but if I made an error in one then I probably made an error in all of them.  Regardless, I've changed the imports i

[2018-04-17 16:50] #26 closed

[2018-04-24 14:07] juramaga commented on #20
I just sent a pull request to add an utility function corresponding to item 2 above. I need someone to review it and test it to make sure it is doing the right thing.

[2018-04-30 18:36] Andromedanita commented on #4
@aimalz I started looking into the codes for classifying by guessing and using confusion matrix. I want to implement tunnel and broadbrush  classifiers but I have two questions:

1- For tunnel classifier, we want the classifier to classify only one class correctly and ignore other classes.  Can it classify other classes correctly by chance or do we want it to classify those classes incorrectly all

[2018-04-30 19:33] aimalz commented on #4
@Andromedanita Good questions!

What I was imagining for the tunnel vision classifier was that it would classify other classes agnostically, so occasionally getting it right by random chance.  I think we'd also want to test this for a range of accuracies on the focus class.

For both of them, I was thinking of using the `from_cm` classifier.  For the tunnel vision classifier, the confusion matrix

[2018-04-30 21:53] Andromedanita commented on #4
Thanks @aimalz , it makes sense I think. Just to clarify, we want the rows to sum to 1 in the tunnel vision classifier as well, correct? Because those are the probabilities for the data point to be in each class.

[2018-04-30 22:11] aimalz commented on #4
@Andromedanita That is correct.  The `from_cm` classifier assumes the input confusion matrix is already normalized such that the rows each sum to 1.

[2018-05-01 12:40] aimalz commented on #20
Awesome @juramaga, we're halfway there! @djones1040, I think the last two parts will be a lot easier given the new functionality in `proclam.metrics.util`.

[2018-05-01 13:57] aimalz commented on #25
#27 has an example of this in `pipeline_sandbox.ipynb`.  ~~Do folks think we need a built-in module, say `proclam.classifiers.FromFile`/`proclam.simulators/FromFile` or is implementing it in the pipeline notebook good enough?~~  I think I answered my own question; if we want the pipeline to have some kind of loop over metrics/classifiers that will use the real data examples, it should be built-in,

[2018-05-01 15:49] aimalz opened #31 "Real classifier systematics"
It would be valuable to test our metrics on confusion matrices and/or real classification probabilities or deterministically predicted classes (plus true class assignments), of any set of transient types.  @reneehlozek started this in #27, and @AshishMahabal has committed to continuing it.

GitHub has a limit on storage space, so please put any files in a public place on the web where the pipeline

[2018-05-01 16:34] aimalz opened #32 "Continuous integration/testing"
I'm going to take care of this before next week's meeting.

[2018-05-01 19:03] aimalz opened #34 "Compatibility with "other" class"
Support for the "other" class is somewhat inconsistent so far.  Related to #14, this is a messy issue, to go through all the existing code and make sure it's compatible with the inclusion of a class for objects not represented in the training set.

[2018-05-01 19:44] aimalz opened #35 "Paper"
This is an issue (and corresponding branch) for discussing the PLAsTiCC metrics paper.  I'll use this space to announce major updates to the draft.

[2018-05-01 22:13] aimalz commented on #4
I added another case for a "cruise control" classifier that's sort of a combination of broadbrush and tunnel vision classifiers, but could be a realistic case for the kind of classifier that only cares about one type of object and instead of giving equal probability to all other classes when it thinks a given object is not of its favorite class, it would instead more or less assign them all to one

[2018-05-07 21:39] #4 closed

[2018-05-07 22:14] aimalz opened #38 "Documentation"
The pipeline notebook should be documented with math, notation, and interpretation.

[2018-05-07 22:23] rbiswas4 opened #39 "LogLoss metric should have methods to rectify probabilities of 1.0 and 0.0"
Currently the `LogLoss` metric has trouble with `prediction` values of 0. and 1.0 leading to `-inf` for several rows, and leads to nan returns on `LogLoss.evaluate()`. There should be some utility to clip these extreme values in prediction.

[2018-05-08 18:45] AshishMahabal commented on #31
A CSV gist containing a confusion matrix
https://gist.github.com/AshishMahabal/04933628b6cb2b4d3eba412235344c59

[2018-05-08 21:27] #39 closed

[2018-05-08 21:27] #34 closed

[2018-05-08 21:27] #32 closed

[2018-05-08 21:27] #9 closed

[2018-05-08 21:27] #14 closed

[2018-05-15 16:09] aimalz commented on #18
@reneehlozek I think we're almost ready for a pull request on the [`demo_notebook`](https://github.com/aimalz/proclam/blob/demo_notebook/metrics_evaluation.ipynb) branch.  It still needs to incorporate @Andromedanita's mock classification results, but other than that, it seems to be in reasonable shape.  What do you think of the actual tests/plots?  Is anything obviously missing?

[2018-05-16 21:03] Andromedanita commented on #18
@aimalz  I have already added the code to save the predictions into csv files in the demo_notebook branch. Is there anything else I need to add?

[2018-05-22 03:18] reneehlozek opened #43 "classification-batch"
Given that we expect a large number of classifications in the final set, we should check that the notebook can handle the large files, and if not batch it over the metric space.

[2018-05-22 04:08] reneehlozek commented on #43
Actually, I don't think this is an issue. After making a branch and editing the metrics notebook here https://github.com/aimalz/proclam/tree/issues/43 it seems that things are well behaved even for a large file (not linked here).

[2018-05-22 04:08] #43 closed

[2018-05-24 06:47] rbiswas4 opened #45 "Limiting Cases of LogLoss"
For a perfect classifier, LogLoss should return 0 or (epsilon) on a numerical computation for each sample. When I have checked this, I do recover the value.  However, in the `main.ipynb` notebook, the plots that are coming out don't show this: the values are much larger O~1 floats or 1.

[2018-05-29 07:04] rbiswas4 commented on #45
@aimalz I found the reason why the Perfect `LogLoss` returns large values rather than `epsilon`.

In the notebook `main.ipynb`:
[code]
is used to go from the confusion matrix to a realization of probabilities, by drawing from a Cauchy distribution. If you really want to keep this perfect, you need to use `delta = 0.0` to set this random variable to 0. Then it works and gives `epsilon`! How you wan

[2018-05-29 13:32] aimalz commented on #45
@rbiswas4 Ah, yes, you've found it!  ~~I'd meant to enable setting the perturbing factor parameter(s) of `proclam.classifiers.FromCM.classify()` but hadn't gotten around to it, and it appears that it was much more important than I'd anticipated.  I'll make a patch for that ASAP and ask you to review it.~~ Whoops, I see I'd already implemented it the way I'd intended.  I'm just going to fix it in t

[2018-06-26 14:02] aimalz commented on #35
@reneehlozek brought up a good point about authorship.  If you've been involved and I've forgotten your name on the draft, please speak up!

[2018-06-26 14:02] #31 closed

[2018-06-26 14:03] #25 closed

[2018-06-26 15:23] juramaga commented on #35
I am happy to contribute with a few paragraphs in the Weights subsection. Will coordinate with @aimalz

[2018-06-26 15:30] Andromedanita commented on #35
@aimalz  I can also write a few sentences for the various confusion matrices I coded up.

[2018-06-29 16:30] aimalz commented on #35
Thanks @juramaga @Andromedanita @reneehlozek!  I've updated the draft [here](https://github.com/aimalz/proclam/tree/issue/35/paper/desc_note), including adding (very unpolished versions of) most of the figures, aside from a few I haven't made yet.  The sections are also now in different files, which should simplify editing.

@juramaga, It would be great if you could fill in some text about the wei

[2018-07-12 11:05] cnsetzer opened #47 "util.py check_weights does not support all keyword averaging schemes from main.ipynb"
In `main.ipynb`, during the investigation of the mock classifier systematics, the weight schemes
[code]
include those which are not supported in the `util.py` implementation of `check_weights`.
[code]

Do we need to add cases for the other weighting schemes?

[2018-07-12 14:09] aimalz commented on #47
I thought of adding them, but because they're sort of contrived tests, I made them vectors of weights so they're covered by the first case.  On the other hand, the proclam code isn't really for an audience beyond our contrived tests, since it's not optimized for the actual challenge, so it might make sense to add them in if they'll be used in the science-specific metrics paper after the challenge

[2018-07-12 17:43] aimalz commented on #47
Ah, there was also a related bug in main.ipynb itself!  I'm not sure if that was what you meant, but I fixed that as well.

[2018-07-13 11:51] cnsetzer commented on #47
Ahh ok, no that was not what I was referring to. I am going to look at this now.

[2018-07-13 15:15] cnsetzer commented on #47
I see the difficulty due to the contrived tests... However then shouldn't we change how this is being used in the notebook itself?

I have added some basic implementation for the flat, up, down schemes. However, in the absence of having the information of the "chosen" systematic, the up-weighted or down-weighted weight is randomly selected from the possible different weights. This is my commit cha

[2018-07-14 23:48] aimalz commented on #47
I'm not sure what kinds of meaningful tests we can do with weights in the absence of any physics.  The weights are going to affect all metrics the same way because they're just constant factors on the terms contributing to them, i.e. other linear combinations of the same stuff, unless we include them in a more sophisticated way I wanted to investigate but didn't get to in time for Kaggle.

I enabl

[2018-07-14 23:48] #47 closed

[2018-07-24 14:01] aimalz opened #49 "Feedback on first draft of paper"
The first draft of #35 / #48 isn't, in my opinion, ready for prime time, yet here it is, under review.  This issue can be closed when feedback from the following people is integrated into the paper:

* [x] @Andromedanita (with substantial additions to Introduction)
* [x] @AshishMahabal (with substantial additions to Discussion)
RH: This has largely been tackled **except:**
 - the Matthews coeffici

[2018-07-24 14:04] aimalz commented on #18
I think this has largely been addressed since we moved on from the demo, so I'm closing this issue.

[2018-07-24 14:04] #18 closed

[2018-07-24 14:21] aimalz commented on #13
Here's another ideas from a dropped Slack discussion:

* [ ] Per-class metric extrema (anticipate a better idea of how to do this after challenge results are in, but it can be considered for a future version)

[2018-08-08 22:27] aimalz opened #50 "Update how mock probability submissions are generated from pseudo-confusion matrices"
The most serious comment about the paper that came up in #49 was the hack-y way `proclam` generates mock probability vectors from the pseudo-confusion matrices (pending a new name), a procedure implemented in [`proclam/classifiers/from_cm.py`](https://github.com/aimalz/proclam/blob/master/proclam/classifiers/from_cm.py).  To get _p(class | true class)_, we start by selecting the row _CM\_true clas

[2018-08-14 12:11] reneehlozek commented on #50
This has been done in proclam/classifiers/from_cmdm.py, and changes to the text have been made. This needs to be checked by e.g. @DoctorLobster @aimalz

[2018-08-17 12:47] reneehlozek opened #52 "Graham reviewer report"
Melissa Graham, 2018-07-31

Abstract

- [x] Regarding the statement "...we ultimately make the reassuring discovery that multiple metrics yield qualitatively consistent results, enabling PLAsTiCC to choose a weighted modification of the log-loss as a metric due to the availability of a meaningful interpretation." First, the term 'reassuring discovery' gives the impression that a hypothesis has bee

[2018-08-17 12:48] reneehlozek opened #53 "Schafer review"
Chad Schafer, 2018-08-05

I have a handful of comments/questions relating to the approach taken in the paper. Overall, I believe that this is an interesting issue, and the conclusion that the two “standard” metrics used in this situation (Brier and log-loss) give consistent results is reassuring. I agree with the authors that there is also value in bringing awareness to the choice one must make in

[2018-08-17 12:49] reneehlozek opened #54 "Lin review"
Weikang Lin, 2018-08-10

I find this paper interesting and it is important for future photometric survey to adopt a suitable metric to rank probabilistic classifiers. Here are some of my comments:

- [x] Possible notation inconsistency: in equation (1), perturbation is denoted as \delta\epsilon, but the next line is \epsilon. Is it \delta times \epsilon in equation (1), or it is just \epsilon? I a

[2018-08-17 17:23] reneehlozek opened #56 "RH Additional comments on papers/figures"
- [x] Make the plots of CM have more dynamic range
- [x] label the axes, since it isn't clear
- [x] make sure to comment on the figures from snmachine, and discuss the fact that the templates didn't actually do to well on the final challenge
- [ ]  check that the metric also satisfies triangle inequality
- [ ] ordering 'wrongness' of classifications?

[2018-08-17 21:52] aimalz commented on #56
1. I'm open to another colormap but want to be careful not to suggest that the values of the cells are not scalars between 0 and 1 by having a gradient involving more than two colors, a pitfall of all my go-to colormaps.
2. Rick said there were five classes, but Michelle's data has only three. I didn't want to assume that they were Ia/II/Ibc solely on the basis that I see those in that order most

[2018-08-20 16:34] aimalz commented on #52
I have addressed the comments on Figure 3 by removing it and enhancing the interpretability of Figure 4.  I think some of our observations were indeed overreaches as Melissa noted, and those that were not can be better discerned from the clarified Figure 4.  The changes are in branch issue/49/feedback-propagation.

[2018-08-20 19:47] aimalz opened #58 "SNPhotCC comparison help"
We have gotten some feedback, from the reviewers and others, asking about the relevance, presentation, and interpretation of running the metrics on the results of the SNMachine classifiers run on the SNPhotCC dataset.  I'm struggling to address these comments because I, too, am unsure what it adds to the paper.

[2018-08-20 19:48] #50 closed

[2018-08-21 02:58] reneehlozek commented on #49
I think these first comments can be closed now - but I'll leave that to @aimalz to confirm!

[2018-08-21 03:15] reneehlozek commented on #56
Hi @aimalz

1. >  I'm open to another colormap but want to be careful not to suggest that the values of the cells are not scalars between 0 and 1 by having a gradient involving more than two colors, a pitfall of all my go-to colormaps.
Yep, I'm making the colorbar scale logarithmic for the same colormap.

Actually, this question came up while looking at the classifications. The 'noisy' doesn't loo

[2018-08-21 14:49] aimalz commented on #56
1. So we had random numbers in them at some point before at the hack stage and determined that it creates a bias.  The PMFs drawn from the conditional probability matrix with random components share covariances where the random numbers were higher, so it's not just noisy but also subsumed, thereby not effectively isolating the systematics.  (And is yours normalized properly?)

However, in `hacks.i

[2018-08-21 14:50] aimalz commented on #49
Oh, wow, thanks @reneehlozek for getting through the rest of them!  I guess we can close this issue now.

[2018-08-21 14:50] #49 closed

[2018-08-22 01:41] reneehlozek opened #59 "adjusted acknowledgement text"
AIM is advised by David W. Hogg and was supported by National Science Foundation grant AST-1517237.
TA is supported in part by STFC. Canadian co-authors acknowledge support from the Natural Sciences and Engineering Research Council of Canada. We acknowledge the University of Chicago Research Computing Center for support of this work. This research used resources of the National Energy Research Sci

[2018-08-22 01:42] reneehlozek opened #60 "error property list - explaining jargon"
For each case, we address:
\begin{enumerate}
  \item What defines the classification error property of this classifier (ie., how does it misclassify objects)?
  \item Under what conditions is this error property relevant?
  \item How will this error property affect the metric result when applied to the classification output?
\end{enumerate}

[2018-08-22 01:54] #59 closed

[2018-08-23 02:48] #60 closed

[2018-08-23 04:16] #54 closed

[2018-08-23 04:35] #52 closed

[2018-08-24 19:08] #53 closed

[2018-08-31 19:23] aimalz opened #62 "Paper Feedback Round 2: @RickKessler"
I'm seeking volunteers to implement the changes that are not tagged with my name.  If you'd like to help, please make a branch, leave a comment on this issue with a link to the branch, check off boxes in this issue as you go, and make a PR as soon as you've gotten through everything you wanted to take on.  Thank you!

ABSTRACT
- [x] 2nd line, I was initially confused about "probabilistic data prod

[2018-08-31 22:44] aimalz opened #63 "Paper Feedback Round 2: @michellelochner"
I'm seeking volunteers to implement the changes that are not tagged with my name. If you'd like to help, please make a branch, leave a comment on this issue with a link to the branch, check off boxes in this issue as you go, and make a PR as soon as you've gotten through everything you wanted to take on. Thank you!

- [ ] I'm not sure the probabilities coming out machine learning classifiers can b

[2018-08-31 23:46] aimalz opened #64 "Paper Feedback Round 2: @DoctorLobster"
The notation in Equation 1 looks funny to me.

Usually when you say a random variable x is a draw from, say, a standard Gaussian, it is written as

x ~ N(0,1)

so the right hand size is a name of a random variable.

In your equation 1, the RHS is an algebraic expression, and is not the pdf of a Dirichlet distribution.  I think you're trying to write the random number generation algorithm on the RH

[2018-09-03 16:44] aimalz commented on #64
@DoctorLobster You're totally right -- I went on autopilot and put \Gamma where it should have been Gamma, and none of that was really necessary because the code uses scipy's built-in Dirichlet function anyway, so I took out the whole mess and changed it to Dir\[\].  I also made p(m | m', C) explicitly a vector for clarity.

[2018-09-03 16:44] #64 closed

[2018-09-04 13:26] aimalz opened #65 "Epic: Paper Feedback Round 2"
This is an issue for all feedback on the second draft.  #62, #63, and #64 are from other PLAsTiCC folks, and I'll make issues (and mention them here) as more comments come in.

As we're in a bit of a time crunch, I'd appreciate some help in getting through the small items in #62 and #63, a mix of typos, unclear wording, and incomplete descriptions. @reneehlozek @tallamjr @Andromedanita @rbiswas4 @

[2018-09-04 13:50] juramaga commented on #65
Hi Alex,

I can help with some of this small issues, but I am not very good with the
whole branching thing.

I created this branch:

https://github.com/aimalz/proclam/tree/corrections_RM

And did a pull with git locally to include it in my local repo. But I do
not know how to switch to that branch to work there before I merge it. See:

=======================
bash-3.2$ git pull
From https://github

[2018-09-04 14:19] tallamjr commented on #65
Hi @juramaga ,

I believe the reason you are on a _detached_ HEAD state is because your did:

`git checkout origin/corrections_RM` where it I think it should have been
`git checkout corrections_RM`

The output of the last command gives this as stdout:

[code]

You should be able to make changes and then be able to push these _up_ to the `origin/corrections_RM` branch because it is set to track it

[2018-09-04 14:42] juramaga commented on #62
Hi Alex,
I'll work in this branch:
https://github.com/aimalz/proclam/tree/corrections_RM
I will start going down the list.

[2018-09-04 14:50] tallamjr commented on #63
Fixed typos and included some suggestions relating to lines 833, 847 & 892

[2018-09-06 06:54] aimalz commented on #65
@tallamjr Thanks for giving the solution so quickly.  @juramaga Did that work for you?

[2018-09-06 06:58] aimalz commented on #62
@juramaga Were you able to push changes?  I don't see any edits in your branch, but you've checked off some boxes on the issue.  Thanks!

[2018-09-06 09:36] juramaga commented on #62
Hi,

Was in a conference and had to interrupt the work. Starting again now. Will
push changes during the day.

Rafael

On Thu, Sep 6, 2018 at 8:58 AM, Alex Malz <notifications@github.com> wrote:

--
------------------------------------------------------
J. Rafael Martinez-Galarza
Harvard-Smithsonian Center for Astrophysics
60 Garden Street - MS 66
Cambridge, MA 02138
U. S. A.
+1 617 495 7027
jmart

[2018-09-06 11:03] juramaga commented on #62
Hi Alex,

I just pushed some changes to my branch.

Rafael

On Thu, Sep 6, 2018 at 8:58 AM, Alex Malz <notifications@github.com> wrote:

--
------------------------------------------------------
J. Rafael Martinez-Galarza
Harvard-Smithsonian Center for Astrophysics
60 Garden Street - MS 66
Cambridge, MA 02138
U. S. A.
+1 617 495 7027
jmartine@cfa.harvard.edu
---------------------------------------

[2018-09-10 10:37] reneehlozek commented on #62
Finished addressing RK comments.

[2018-09-10 10:37] #62 closed

[2018-09-10 11:39] #56 closed

[2018-09-10 11:39] #58 closed

[2018-09-11 13:03] MichelleLochner commented on #63
@aimalz I'm getting to this now (sorry as usual..)

* ROC curves -> I'm literally just suggesting adding "such as the commonly-used ROC curves [citation]" I'm not sure adding 7 words counts as new material... ;) Anyone who doesn't know what those are will ignore this statement and everyone who knows what they are will think "oh so that's why they don't just use ROC curves". (I can't seem to get at

[2018-09-17 21:55] reneehlozek opened #70 "Comments from Saurabh"
These comments from were received on September 12 on the metrics note.

I noticed the internal capitalization of PLASTICC was not consistent across the metrics paper versus the release note (and internally inconsistent in the release note). I suggest you decide on one method and use the same latex macro on both papers.

@reneehlozek:

Here are some brief comments on the metrics paper:

I found the

[2018-09-19 03:03] #70 closed

[2018-09-20 01:20] reneehlozek opened #73 "final changes to draft"
Once the merge has been approved, the following changes are needed (I didn't want to complicate things further on my side until the merge had happened):

- [x] Modification to the discussion on weights and clarification of the metric that will be used in the end for the PLAsTiCC data
- [x] Double check this language with that on the kaggle website _[pending discussions with Kaggle to finalise the

[2018-10-12 18:22] JohannesBuchner opened #75 "License"
Dear all,

I was wondering what license is proclam code under? I would like to reuse the logloss implementation (although there seem to be differences to the challenge specs in terms of class weights).

Cheers,
               Johannes

[2018-10-16 01:05] aimalz commented on #75
@JohannesBuchner Thanks for bringing this up.  Somehow when the project started we must have gotten so excited that we forgot to make a license?  In any case, it's being finalized in #76 and will be settled by the end of the week.  In the interim, I'm making the executive decision that you may assume the standard MIT license for now, but please check back next week to confirm just in case.

[2018-10-25 02:59] #75 closed

[2018-11-09 16:35] #63 closed

[2018-11-09 16:35] #65 closed

[2018-11-09 16:35] #73 closed

[2019-02-25 19:54] aimalz commented on #11
This issue is stale, so I'm closing it and make a new one for the last item to tie in to #10 and #20.

[2019-02-25 19:54] #11 closed

[2019-02-25 20:04] aimalz opened #78 "Probabilistic adaptations of deterministic metrics"
The referee requests an investigation of the F-score, among other deterministic metrics that can be extended to accommodate probabilistic classifications.  This is our opportunity to finish the investigation that we started setting up for with #10 and #20.

At a minimum, we need to cover the well-trodden territory of AUC metrics:

- [x] ROC AUC
- [x] PRC AUC
~~- [ ] DET AUC~~ This one involves way

[2019-02-28 20:58] aimalz commented on #78
@djones1040, @mi-dai, and @aimalz are going to separate out the calculation of TP/FP/TN/FN into a single function in `proclam.metrics.util.py` and write a function for getting the AUC in `proclam.metrics.util.py`. Then `proclam.metrics.roc.py`, `proclam.metrics.prc.py`, and `proclam.metrics.det.py` can call those two utility functions.

[2019-03-01 17:49] aimalz commented on #10
@djones1040 This function now exists in [`roc.py`](https://github.com/aimalz/proclam/blob/issue/78/roc/proclam/metrics/roc.py) but should be separated out into a function in [`util.py'](https://github.com/aimalz/proclam/blob/issue/78/roc/proclam/metrics/util.py), along with the TN/TP/FP/FN calculations.

[2019-03-01 17:51] aimalz commented on #78
@mi-dai Could you add calls to `roc.py` in [the notebook](https://github.com/aimalz/proclam/blob/issue/78/roc/paper/hacks.ipynb) that runs the mock classifier tests for the paper?  Thanks!

[2019-05-28 22:32] aimalz opened #81 "Visualize bonus metrics for ranked classifiers"
@kponder's upgraded version of Figure 5 will remain in the paper, but we also need an additional plot for the probabilistic adaptations of deterministic metrics.  This issue is a place for discussing how best to visualize the additional metrics so #78 can progress independently from the identification of an appropriate plotting scheme.

[2019-06-04 19:06] aimalz opened #82 "Propagate additional metrics through testing framework"
The new metrics of #78 need to be tested on the same datasets as the ones that made it into the original paper, code that mostly lives in [`hacks.ipynb`](https://github.com/aimalz/proclam/blob/master/paper/hacks.ipynb).

[2019-06-04 19:08] aimalz commented on #10
Closed by #80.

[2019-06-04 19:08] #10 closed

[2019-06-04 19:12] aimalz opened #83 "Interpret differences in metrics on SNPhotCC data set"
This issue responds to the referee's very reasonable request that we attempt to explain why the ranking of classifiers on the SNPhotCC data differs under each metric.

EDIT: I removed the `high priority` label because this might benefit from waiting until #82 advances a bit.

[2019-06-04 19:33] aimalz commented on #81
The referee agrees with us both that the paper has too many tables and that the most useful information is the ranking under each metric, not the absolute values of the metrics.  To visualize the rank changes under each metric, we could turn Tables 1 and 2 and, separately, Table 3 into a pair of new figures in addition to Figure 5 using [a slope graph](https://www.dundas.com/support/blog/identify-

[2019-06-04 19:44] aimalz opened #84 "Minor writing issues for paper resubmission"
The referee requests that we address a handful of small issues that should be relatively easy to resolve.

- [x] ~~Update the language throughout the paper to acknowledge that PLAsTiCC has concluded.~~ Add a footnote to acknowledge that PLAsTiCC has concluded.  @rbiswas4
- [x] Use the proper AASTeX `\software{}` tag to cite `proclam`'s code dependencies.
- [x] ~~Explain the confusing w\_n (as oppo

[2019-06-04 19:46] aimalz commented on #20
This has been addressed by #80.

[2019-06-04 19:46] #20 closed

[2019-06-09 16:13] #78 closed

[2019-06-10 21:40] aimalz opened #86 "New written content describing new metrics"
Describe the additional metrics in subsections of Section 3 (Methods):

Deterministic metrics, with subsubsections for:
- [ ] ~~Accuracy~~
- [ ] F1 score @mi-dai
- [ ] ~~Matthews Correlation Coefficient~~

Probabilistic adaptations of deterministic metrics, with subsubsections for:
- [ ] ~~ROC AUC~~
- [ ] ~~PRC AUC~~

[2019-06-11 18:17] kponder commented on #81
Here is the current working concept to visualize [Table 3 (Option 1)](https://github.com/aimalz/proclam/files/3277884/Tables3_option3.pdf). I'm still working on ways to make this plot clearer and suggestions are welcome. The [Table 3 (Option 2)](https://github.com/aimalz/proclam/files/3277896/Tables3_option4.pdf) is one suggestion where we focus the plot on template-based classifiers instead of wa

[2019-07-19 15:38] aimalz commented on #86
The deterministic metrics are currently described briefly in section 3.1, but the revision can have section 3.1 just be "Deterministic metrics" and then have Accuracy, F1 Score, and Matthews Correlation Coefficient in a new section 3.1.1 "Classic deterministic metrics", the AUC metrics in a new section 3.1.2 "Probabilistic adaptations of deterministic metrics", and the science-motivated determinis

[2019-07-22 10:20] mi-dai commented on #86
@aimalz is the latest version of the paper in master? or where should I pull it from?

[2019-07-22 10:28] aimalz commented on #86
@mi-dai I haven't updated the paper in a branch yet, so working from master is the correct choice.

[2019-07-29 08:55] aimalz opened #90 "Remove big files from history"
Some big files were added and removed but remain in the history, causing the repo take a long time to clone.  They must be removed, preferably before publication.

[2019-09-04 12:55] aimalz commented on #84
Closed by #88

[2019-09-04 12:55] #84 closed

[2019-09-11 14:06] aimalz opened #91 "Clean out broken notebooks"
I'm going to remove old/broken notebooks so it's easy to find the notebooks that run the tests that ended up in the paper and the simplified end-to-end demos.

[2019-09-11 14:09] aimalz opened #92 "M_classes bug in confusion matrix util"
There's a bug affecting the confusion matrix function in `proclam.metrics.util` when there's a mismatch between the set of true classes and the set of predicted classes.

[2019-09-11 14:11] aimalz commented on #86
The paper has now been accepted for publication so we no longer need this issue.  (-:

[2019-09-11 14:11] #86 closed

[2019-09-11 14:11] aimalz commented on #83
The paper has now been accepted for publication so we no longer need this issue.  (-:

[2019-09-11 14:11] #83 closed

[2019-09-11 14:11] aimalz commented on #81
The paper has now been accepted for publication so we no longer need this issue.  (-:

[2019-09-11 14:11] #81 closed

[2019-09-12 14:21] aimalz commented on #38
I think this was taken care of before the challenge launched so I'm closing it.

[2019-09-25 12:20] aimalz opened #93 "New module for visualizations"
I've been developing [visualizations of the PLAsTiCC probabilistic classifications for the results paper in a random branch](https://github.com/aimalz/proclam/blob/alexplot/results_paper/results.ipynb) and have discovered that visualizing probabilistic classification results without reducing them to deterministic classifications is nontrivial.  Given that this sort of visualization borders on unch

[2019-10-02 08:13] aimalz opened #95 "Parallelize metrics calculation"
`proclam` is pretty slow but could easily be made faster, which should have a decent payoff for evaluating metrics on actual PLAsTiCC submissions.

[2021-02-24 18:13] aimalz opened #97 "Switch from Travis CI to GitHub Actions"
This should be done before any further edits are made to the code, as may be part of assessing the classification side of broker comparisons in the foreseeable future?

[2021-02-24 18:34] #93 closed